h1 {
font-size:100px;
color:purple; 
text-align: center; 
border: 5px double black;
width:400px;
background:green;
margin-left: auto;
margin-right:auto;

}
nav#menu {
	text-align:center;
	height:50px;

	width:960px;
	margin-left: auto;
	margin-right:auto;

}

nav#menu ul li {
	display:inline-block;
	border: 5px double black;
	background-color:blue;
}

nav#menu ul :hover {
color:black;

}


nav#menu ul li a {
	font-size:24px;
	color:white;
	text-decoration:none;
	margin:15px;

}
.Content { 
width:960px; 
background-color: gray;
padding-bottom:15px;
margin-left:auto;
margin-right:auto;
padding-top:25px;
}
body { 
background:url(Pictures/Background.jpg) 0 0;
background-repeat: repeat;
}
.Content h2{ 
font-size:48px; 
text-align:center; 
margin-top:0px;
padding-top:25px;
}

.Welcome-blurb { 
width: 840px;
margin-left:auto; 
margin-right:auto;
font-size: 24px; 
border: 5px double black;

}
.Welcome-blurb p { 
margin-left: 20px;
margin-right: 20px;
} 
.A-Little-About-Me { 
width: 840px;
margin-left:auto; 
margin-right:auto;
font-size: 24px; 
border: 5px double black;

} 

.A-Little-About-Me p { 
margin-left: 20px;
margin-right: 20px;
} 
.A-Little-About-Me p a { 
text-decoration: none;
color: black;
} 
.Updates {
text-align:center;
padding-bottom:25px;
} 
h3 { 
text-align: center;
font-size: 40px;
}
.List-of-facts { 
width:860px;
display:block;
margin-left:auto;
margin-right:auto;
text-align:left; 
font-size:24px;
} 
.Psi-info { 
 width: 840px;
 margin-left:auto; 
 margin-right:auto;
 font-size: 24px; 
 border: 5px double black;
 
 } 
 .Psi-info p { 
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom:10px;
 } 
 
 .Psi-info p a { 
 text-decoration: none;
 color: black;
 }
.Psi-stuff { 
margin-bottom: 25px;
}  
 .Robotics .Pictures { 
 width: 860px;
 
 } 
 .Robotics-text { 
 width: 840px;
 margin-left:auto; 
 margin-right:auto;
 font-size: 24px; 
 border: 5px double black;
 
 } 
 .Robotics-text p { 
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom:10px;
 } 
 
 .Robotics-text p a { 
 text-decoration: none;
 color: black;
 }
.Robotics { 
margin-bottom: 25px;
}  
.Herd .Pictures { 
 width: 860px;
 
 } 
 
  .Herd-text { 
 width: 840px;
 margin-left:auto; 
 margin-right:auto;
 font-size: 24px; 
 border: 5px double black;
 
 } 
 .Herd-text p { 
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom:10px;
 } 
 
 .Herd-text p a { 
 text-decoration: none;
 color: black;
 }
.Herd { 
margin-bottom: 25px;
}  
.Pictures { 
 display: block;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 25px; 

}
.contactblurb { 
 width: 840px;
 margin-top: 0px;
 margin-left:auto; 
 margin-right:auto;
 font-size: 24px; 
 border: 5px double black;

} 
.contactblurb p {
margin-left: 10px;
 margin-right: 10px;
 margin-bottom:10px;

} 

.img-slider-wrap {
  display: block;
  height: 600px;
  width: 600px;
  position: relative;
  background: #222;
  margin-left:auto;
  margin-right:auto;
}
.img-slider-wrap [class^="img-slider"] {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  height: 300px;
  width: 300px;
  -webkit-transition: all 200ms ease 0s;
          transition: all 200ms ease 0s;
}
.img-slider-wrap [class^="img-slider"]:hover {
  height: 600px;
  width: 600px;
  z-index: 500;
  background-position: 0 0;
}
.img-slider-wrap [class*="1"] {
  background-image: url(pictures/SteamSlide.jpg);
  top: 0;
  left: 0;
}
.img-slider-wrap [class*="2"] {
  background-image: url(pictures/Facebookpic.jpg);
  background-position: -300px 0;
  top: 0;
  right: 0;
}
.img-slider-wrap [class*="3"] {
  background-image: url(pictures/Instagrampic.jpg);
  background-position: 0 -300px;
  bottom: 0;
  left: 0;
}
.img-slider-wrap [class*="4"] {
  background-image: url(pictures/Twitterpic.jpg);
  background-position: -300px -300px;
  bottom: 0;
  right: 0;
}










