
#MenuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00134d;
}

#MenuBar li {
    float: left;
}

#MenuBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#MenuBar li a:hover:not(.active) {
    background-color: #111;
}

#MenuBar .active {
    background-color: #813772;
}

#TheStick {
    width:100%;
    height:auto;
}

#Cabin {
    width:100%;
    max-height:auto;
    overflow:hidden;
    padding:0;
}

#TitleBar {
    overflow:auto;
}

.HomeTitleBar {
   position: relative;
   
}
#indexTitle {
    position: absolute;
    top: 60%;
    left: 25%;
    color:white;
    font-size: 5em;
    text-shadow:-1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;e;
    margin:auto;
}

#MainContent {
    overflow:hidden;
    margin-bottom: 3em;
}
#MainContent h2 {
    font-size:2.5em;
    margin:auto;
    width:80%;
    padding:.5em;
}

#CenterP {
    width:80%;
    min-height:20em;
    margin:auto;
    background-color:#d194c5;
    display:table;
}

#CenterP p {
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    font-size: 2em;
}

#Footer {
    background-color:#00134d;
    margin:auto;
    
}

#FooterContent li a {
    color: white;
    text-decoration: none;
    
}
#FooterContent ul {
    overflow: hidden;
    background-color: #00134d;
    margin:0;
      text-align:center;
}

#FooterContent li {
    display:inline-block;
    text-align:center;
    padding: 10px;
}

.Collapse {
    background-color: #d194c5;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border-style: solid;
    border-width:1px;
    border-color:black;
    text-align: center;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .Collapse:hover {
    background-color: #813772;
}

/* Style the collapsible content. Note: hidden by default */
#content {
    width:80%;
    margin:auto;
    text-align:left;
    color: white;
    overflow: hidden;
    background-color: #d194c5;
    max-height:0;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}
#content p {
    width:90%;
    margin:auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.Collapse:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.Collapse.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#ShowandHide {
    text-align:center;
}

input[type=name],input[type=email], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin:auto;
    
}

#ContactTitle {
    width:80%;
    margin:auto;
    padding:.5em;
}
#ContactPar {
    box-sizing: border-box;
    margin:0;
    padding:20px;
    float: left;
    width: 40%;
    font-size: 24px;
}
#ContactForm {
    margin:0;
    padding-right:2em;
    padding-bottom:2em;
    box-sizing: border-box;
    float: right;
    width: 60%;
}
.ContactPage {
    box-sizing: border-box;
    width:80%;
    margin:auto;
    overflow:auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-bottom: 3em;
}

.ContactPage p {
    max-width:200px;
    margin:auto;
   
}


#root {
    min-height: 300px;
    margin-left: 30%;
    margin-top: 20px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}


